@media screen and (max-width: 500px) {
  nav a {
    display: flex;
    flex-direction: column;
  }

  .destaque .container {
    width: 90%;
  }

  h3.titulo {
    margin-bottom: 30px;
  }

  p.descricao {
    display: none;
  }
}

@media screen and (max-width: 750px) {
  header .container {
    display: flex;
    flex-direction: column;
    margin: 0 0 10px 0;
  }

  .destaque {
    height: 450px;
  }

  p.descricao {
    width: 100%;
  }

  .botoes {
    flex-direction: column;
    width: 100%;
  }

  .botao {
    margin-top: 8px;
    width: 60%;
  }

  .carrossel-filmes {
    margin-top: 20px;
  }
}